@use '../custom' as *;
@use '../utils/mixins';
@use '../components/botones';

.site-header{
  @include mixins.bgImage('../../public/assets/img/header.jpg', $secondary);

  .logo{
      max-width: 20rem;
      //Logo a la izquierda en pantalla grande:
      margin: 0 auto;
      @include media-breakpoint-up(md){
        //Logo mediano al centro:
        margin: 0;
      }
  }.contenido{
    //Tamaño de padding en pantalla mediana:
    padding-top: 8rem;
    padding-bottom: 8rem;
    @include media-breakpoint-up(md){
      max-width: 50%;
    }
    //Tamaño de padding en pantalla grande:
    @include media-breakpoint-up(lg){
      padding-top: 6rem;
      padding-bottom: 6rem;
      max-width: 40%;
    }
    h1{
        font-size: 4.5rem;
        color: white;

        @include media-breakpoint-up(md){
          font-size: 6rem;
        }
    }
  }
}
