//Colores
$verde: #84D9BC;
$gris: #313C4E;
//Variables de Color:
$primary: $verde;
$secondary:$gris;
//Tipografía
$headings-font-family:'Poppins', sans-serif;
$headings-font-weight:700;
$font-family-sans-serif: 'Poppins', sans-serif;
$h1-font-size: 4.5rem;
$h2-font-size: 3.6rem;
$h3-font-size: 3rem;
$font-size-base: 2rem;
//Para calibrar a tamaño pixeles los rem:
$font-size-root:62.5%;

//Tamaño Spacer de Variables:
$spacer: 5rem;

//Importar Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';
